:root {
  --light-transparent: rgba(255, 255, 255, 0.2); 
  --light: rgba(255, 255, 255, 0.25); 
}

.create-or-join-page {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aa65ff;
  background-image: url("../assets/img/space-ufo-bg.jpg");
  background-size: cover;
  color: white; 
}

.game-portal-header {
  font-size: 3.5rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  background-color: var(--planet-purple);
  border-radius: 1rem;
  width: 75%;
  text-align: center;
  margin: 2rem 0 0 0;
  padding: 0.5rem 0 0.5rem 0;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  margin-top: 3rem;
}

.button-block {
  border: 2px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
  padding: 5rem 1rem;
  width: 29rem;

  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgba(255, 255, 255, 0.2);
  background-color: var(--planet-purple);
  transition: background-color 0.3s ease;
}

.button-block img {
  width: 60%;
  height: auto;
  margin-bottom: 10%;
  margin: 5%;
}

.button-block:hover {
  border: solid white;
}

.create-button,
.join-button {
  width: 75%;
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.33);
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  width: 100%;
  transition: all 300ms;
  margin-top: 3rem;
}

.create-button {
  background-color: #afec7f; 
  color: white;
}

.create-button:hover {
  background-color: #4bc25a;
}

.join-button {
  background-color: #8ee1ce;
  color: white;
}
.join-button:hover {
  background-color: #22d9ae;
}

.leaderboard-button {
  color: white;
  background-color: var(--planet-orange);
  width: 75%;
  padding: 1rem 0 1rem 0;
  font-size: 2rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.33);
  box-shadow: rgba(0, 0, 0, 0.233) 0px 5px 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  width: 100%;
  transition: all 300ms;
  margin-top: 1.4rem;
}

.create-or-join-username {
  color: var(--planet-orange);
}
