.game-page-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  justify-content: space-between;
  color: white;
}

.Game-all-player-container {
  display: flex;
  justify-content: center;

  width: 100%;
  gap: 5rem;
  margin: 0 0 2rem 0;
}

.Game-single-player-container {
  width: 17rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 0.2rem solid white;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 0.5rem 0 0.75rem 0;
}
.loading-bar {
  width: 85%;
  height: 0.55rem;

  background-color: #979797d8;
}
.Game-icon {
  padding: 0.45rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.2rem;
  margin-top: 0.25rem;
}

.Game-player-name {
  font-size: 1.1rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
}

.Game-icon-name-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.temporary-wheel-image {
  height: 5rem;
  margin-top: -1rem;
  margin-left: 1rem;
}
.name-score-container {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-left: -1rem;
}
.game-score {
  font-size: 1.1rem;
  min-width: 5rem;
}

.question-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  gap: 2%;
  background-color: #aa65ff;
  font-size: 2rem;
  padding: 1rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 3rem 0 1rem 0;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}

.question-choices-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-choices {
  cursor: pointer;
  font-size: 1.3rem;
  width: 20%;
  text-align: center;
  padding: 2rem 6rem 2rem 6rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #aa65ff;
  border: 0.2rem solid #aa65ff;
}

.question-choice-1 {
  position: absolute;
  top: 25%;
  left: 35%;
}

.question-choice-2 {
  position: absolute;
  top: 42.5%;
  right: 6%;
}

.question-choice-3 {
  position: absolute;
  top: 42.5%;
  left: 6%;
}

.question-choice-4 {
  position: absolute;
  top: 60%;
  left: 35%;
}

.question-true {
  border-color: #58d05c;

  background-color: #58d05c;
}
.question-false {
  border-color: #280f73;

  background-color: #280f73;
}

.selected-choice {
  border: 0.2rem solid white;
}

.round-over-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
}

.game-page-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.results-header-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player-result {
  background-color: #aa65ffe6;
  padding: 2rem 3.5rem 4rem 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 4rem;
  border-radius: 1rem;
  height: 30rem;
}
.results-container {
  display: flex;
  gap: 5rem;
}

.results-header {
  margin-bottom: 7rem;
  font-size: 4rem;
  background-color: var(--planet-purple);
  padding: 0.5rem 6rem;
  border-radius: 1rem;
}

.results-place-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.results-name {
  width: 13rem;
  text-align: center;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
}

.results-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 2rem 0;

}

.results-place {
  display: flex;
  width: 5rem;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin-top: -2rem;
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 1.8rem;
}

.place-icon {
  position: relative;
  width: 4rem;
  left: 2.5rem;
}
