.join-game-container {
    text-align: center;
  }
  
  .buttons-container {
    margin-top: 20px;
  }
  
  .join-game-container input[type="text"] {
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .join-game-container button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .join-game-container button:hover {
    opacity: 0.8;
  }
  
  .join-button {
    background-color: #008CBA; /* Blue */
    color: white;
  }
  