:root {
  --planet-purple: #aa65ff;
  --planet-button: #15d1f0;
}

.join-game-container {
  text-align: center;
  background-image: url("../assets/img/space-saucer-bg.jpg");
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.show-off {
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

.join-game-header {
  background-color: var(--planet-purple);
  font-size: 4rem;
  width: 75%;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5rem;
}
.join-button-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--planet-purple);
  width: 75%;
  height: 25rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 10rem;
}

.join-page-input {
  width: 100%;
  border: none;
  font-size: 2rem;
  padding: 0.5rem 0 0.5rem 0;
  border-radius: 0.5rem;
  text-indent: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
  background-color: rgba(255, 255, 255, 0.415);
  color: white;
}

.join-game-form {
  width: 100%;
}
.join-page-input::placeholder {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.222);
}

.join-game-text {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.26);
}

.text-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-top: 5rem;
  gap: 3rem;
}
.join-page-input:focus {
  outline: none;
}

.rocket-icon {
  position: relative;
  bottom: 47%;
  left: 45%;
  cursor: pointer;

  transition: all 300ms;
}

.rocket-icon:hover {
  color: var(--planet-orange);
}
