.page-container {
  position: relative;
  height: 100vh;
  display: flex;
  color: white;
  gap: 8%;
  overflow: hidden;
}

.lobby-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: -100;
}

.all-player-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 3rem 0rem 0rem 3rem;
  height: fit-content;
}
.single-player-container {
  display: flex;
  flex-direction: column;
  background-color: #aa65ff;
  width: 16rem;
  height: 14rem;
  padding: 1rem 1rem 2rem 1rem;
  align-items: center;
  gap: 0.8rem;
  border-radius: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.player-name {
  width: 100%;
  white-space: nowrap;
  width: 6rem;
  text-align: center;
  overflow: hidden;
  font-size: 2rem;
  padding: 0.5rem 0;
  border-radius: 0.8rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
}

.start-game-button {
  background-color: #aa65ff;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  height: fit-content;
  padding: 1rem 6rem 1rem 6rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 1rem;
  transition: all 300ms;
}

.start-game-button:hover {
  background-color: #be8bfd;
}

.player-button-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.session-id {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
}

.chat-room-container {
  display: flex;
  flex-direction: column;
  background-color: #aa65ff;
  height: 80%;
  width: 50%;
  margin: 3rem 3rem 0 0;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chat-room-header {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.15);
}

.chat-container {
  width: 89.5%;
  align-self: center;
}

.chat-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.chat-input {
  width: 100%;
  height: 5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #3d1f9e;
  color: white;
  text-indent: 1rem;
  font-size: 1rem;
}
.chat-input:focus {
  outline: none;
}

.chat-input::placeholder {
  color: white;
  font-size: 1rem;
}

.message-display {
  flex-grow: 1;
  overflow-y: auto;
  width: 89.5%;
  height: 50%;
  margin-bottom: 1rem;
  margin-left: 0.4rem;
  background-color: #3d1f9e;
  border-radius: 0.5rem;
  align-self: center;
  scrollbar-color: #3d1f9e white;
  scrollbar-arrow-color: #3d1f9e;
}

.message {
  margin-left: 3rem;
}

.input-and-button {
  display: flex;
}

.message-send-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 4rem;
  height: 0.5rem;
  left: 90%;
}

.send-icon {
  position: relative;
  left: 93%;
  bottom: 3.3rem;
  cursor: pointer;
}

.message-length {
  position: relative;
  left: 6%;
  bottom: 1%;
}

.ai-button {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: var(--planet-purple);
  padding: 20px 20px 6rem 20px;
  border-radius: 10px;
  width: 35rem;
  height: 10rem;

  text-align: center;
}

.ai-modal-content {
  display: flex;
  justify-content: space-between;
}

.ai-easy {
  width: 8rem;
  background-color: rgb(73, 220, 110);
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 300ms;
}

.ai-easy:hover {
  background-color: var(--planet-green);
}

.ai-medium {
  width: 8rem;
  background-color: #fae951;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 300ms;
}

.ai-medium:hover {
  background-color: #ee845b;
}

.ai-hard {
  width: 8rem;
  font-size: 1.5rem;
  background-color: #ff4128;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  font-weight: bold;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 300ms;
}

.ai-hard:hover {
  background-color: #ff4128;
}

.header-x {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.ai-icon {
  cursor: pointer;
  transition: all 300ms;
  position: relative;
  left: 48%;
  bottom: 60%;
}

.ai-icon:hover {
  color: rgb(216, 216, 216);
}
