.round-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
  }
  
  .progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; 
    margin-top:10rem;
  }
  
  .progress-bar::before {
    content: '';
    position: absolute;
    height: 10px; 
    background-color: #ffffff; 
    top: 50%;
    left: 15vw; 
    right: 15vw; 
    transform: translateY(-50%);
    z-index: 0; 
  }

  .round, .connected-image {
    position: relative;
    z-index: 1;
  }
  
  .round {
    color: #ffffff;
    margin-left: 3vw;
    position: relative; 
    z-index: 2;
    flex-direction: column;
    width: 20vw;
    height: 14vw;
    background-color: #f4f4f4;
    border-radius: 50%;
    clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out;
  }

  .round span {
    display: block; 
    text-align: center;
  }

  current {
    transform: scale(1.6);
  }
  
  .completed {
    transform: scale(1); 
  }

  .connected-image {
    width: 18vw; 
    height: auto; 
    align-self: center; 
    margin-left: 5px; 
  }

  .round-1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 800;
    background-color: #FFC501; 
  }
  
  .round-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 800;
    background-color: #FF01E6; 
  }
  
  .round-3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 800;
    background-color: #4356FD; 
  }
  
  .round-4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5vw;
    font-weight: 800;
    background-color: #F59B6F; 
  }
  
  
  .current {
    transform: scale(1.6); 
    transition: transform 0.1s ease-in-out, opacity 9ms ease-in-out;
  }
  


  .completed {
    background-color: #28a745;
  }
  
  .round-countdown{
    background-color: var(--planet-purple);
  font-size: 4rem;
  font-weight: bold;
  width: 75%;
  text-align: center;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-shadow: 1.5px 2px 4px rgba(0, 0, 0, 0.5);
  color: white;
  margin-top: -6rem;
  }